<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'social_app/css/style.css' %}">   
    <title>PROFILE</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">
            <img src="{% static 'log_reg_app/images/globe-icon.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
            GRF
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Quick Links
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/projects">Projects</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/new_project">Create a New Project</a>
                    </div>
                </li>
            </ul>
            <a class="navbar-brand" href="/profile/{{user.id}}">
                <img src="{{user.url}}" width="30" height="30" class="rounded-circle d-inline-block align-top" alt="">
                {{user.first_name}} {{user.last_name}}
            </a>
            <a class="btn btn-primary" href="/logout">Logout</a>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="font-weight-bold mt-2">{{user_in_profile.first_name}} {{user_in_profile.last_name}}</h1>
                <h4><span class="font-weight-bold">Email:</span> {{user_in_profile.email}}</h4>
                <h4><span class="font-weight-bold">GRF Level:</span> {{user_in_profile.level}}</h4>
                <h4><span class="font-weight-bold">Member Since:</span> {{user_in_profile.created_at}}</h4>
                {% if user_in_profile.level == "USER" %}
                <h2 class="mt-4 font-weight-bold">Projects:</h2>
                {% for project in user_in_profile.projects.all %}
                <div class="rounded" style="background-color: rgba(255,0,0,0.3);">
                    <a href="/project/{{project.id}}"><h5 class="font-weight-bold mt-3 mb-0">{{project.name}}</h5></a>
                    <p class="text-light mb-0">{{project.location}}</p>
                    <p class="text-light">Current Funds Pledged: ${{project.funds}}</p>
                </div>
                {% endfor %}
                {% endif %}
            </div>
            
            <div class="col">
                <div class="container text-center">
                <img src='{{user_in_profile.url}}' class="rounded-circle mt-2" width="250" alt="">
                {% if user.id == user_in_profile.id %}
                <h4>Change your Profile Picture</h4>
                <h4>Please note, pictures must be:</h4>
                <p>Less than 5MB in size</p>
                <p>Roughly square in shape</p>
                <p>Appropriate to be viewed by all audiences</p>
                <form action="/update_prof_pic" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="file" class="bg-light" name="prof_pic">
                    <button type="submit">Upload</button>
                </form>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>